 
.nav{
    /* border: 1px solid black; */
    width: 100%;
    height: 3.6rem;
    background-color: rgb(253, 228, 1);
}
.nav1{
    position: absolute;
    top: 0.50vw;
    left: 2vw;
    font-size:1.8rem;
    font-weight: 600;
}
.icon{
   
     
     color: white; 
     display:none
     /* visibility: hidden; */
  }
.nav2{
   
    width: 15rem;
    padding: 5px 5px;
    border-radius: 5px;
    position: absolute;
    right: 6rem;
   top: 0.72rem;
   margin-right: 10px;
   border: solid 1px white;
}

 .afterformclass{
    display: none;
} 
.main-content{
    /* width: 80%; */
    width: 63vw;
   margin: auto;
   margin-top: 1.5rem;
   margin-bottom: 0.3rem;
    border: 1px solid black; 
    border-radius: 5px;
    align-items: center;
    margin-left: 8vw;
}
#textarea{
    
    /* margin: 10% 10%; */
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2.6rem;
    margin-bottom: 1.3rem;
    width: 86%;
     border-radius: 5px;
    height: 5rem;
    

}
 #addnote{
     width: 5.5rem;
    margin-left: 7%;
    margin-right: 83%;
    background-color: rgb(253, 228, 1);
    color: white;
    border: 2px solid rgb(253, 228, 1);
    border-radius: 5px;
    margin-bottom: 1.3rem;
    
} 
.rows{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     /* margin-top: 20px;  */
    width: 80%;
     margin: auto ; 

    /* background-color: rgba(228, 167, 209, 0.815); */
}
.container2{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    
}
 .image{
        width: 16rem;
        height: 11rem;
        border: 1px solid red;
        margin-top: 1.3rem;
        border-radius: 5px;
    }  
    .note-cart{
        width:63vw;
        height: 8rem;
        box-sizing:content-box;
        border: 1px solid black;
        margin-top: 1.3rem;
        border-radius: 5px;
    }
    .delete{
        position: relative;
        bottom: 7px;
        left: 10px;
        background-color: rgb(253, 228, 1);
        color: white;
        border: 2px solid rgb(253, 228, 1);
        border-radius: 5px;
    }
    #note-content{
        position: relative;
        left: 7px;
        right: 7px;
        margin: 0;
    }
    #note-heading{
        position: relative;
        left: 10px;
        top: 5px;
    }
    .icon {
      
        position:absolute;
        right: 30px;
        top: 2.4px;
          display: block;  
           
      }
